.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid #d9dad8;
    flex: 0.05;
    
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 6vw;
}

.header__right > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}