.search {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 39px;
    background-color: #f6f6f6;
}

.search__container > .MuiSvgIcon-root {
    color:gray;
    padding: 10px;
}

.search__container > input {
    flex: 0.9;
    border: none;
} 

.search__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 35px;
    border-radius: 17px;
    /* padding: 0 10px 0 10px; */
}
